* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.postcard {
	width: 750px;
	height: 1000px;
	border-radius: 10%;
	position: fixed;
  margin: 100px auto;
	box-shadow: 20px 20px 100px 1px #a3a1a3;
	position: relative;
	overflow: hidden;
}

.scene {
  text-align: center;
	height: 600px;
	z-index: 9;
}

.scene img {
    width: 100%;
}

.paper-plane:not(:active) {
    motion-path: path("M 577.06458,490.38339 C 687.46681,401.29666 765.13034,298.39449 811.82592,191.02681 L 678.77936,97.326423 C 356.07627,123.85313 -42.994781,247.92582 -278.92207,340.55937 c -13.74322,47.2108 78.47129,91.35314 103.67156,130.90105 117.78397,19.60494 229.685119,17.532 372.3193,31.01962 227.15893,-5.29407 248.43119,4.07123 379.99579,-12.09665 z");
    offset-path: path("M 577.06458,490.38339 C 687.46681,401.29666 765.13034,298.39449 811.82592,191.02681 L 678.77936,97.326423 C 356.07627,123.85313 -42.994781,247.92582 -278.92207,340.55937 c -13.74322,47.2108 78.47129,91.35314 103.67156,130.90105 117.78397,19.60494 229.685119,17.532 372.3193,31.01962 227.15893,-5.29407 248.43119,4.07123 379.99579,-12.09665 z");
    motion-rotation: reverse;
    -webkit-animation: move 5s linear;
    animation: move 5s linear;
    width: 71px;
    height: 54px;
    position: absolute;
    left: 10%;
    top: 70px;
    z-index: 1000;
}

.paper-plane:active {
    opacity: 0;
}


@-webkit-keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

.paper-plane svg {
    width: 100%;
}

/* Lower part goes here */
.lower-scene {
	height: 400px;
	width: 750px;
	position: absolute;
}

.wrapper {
	width: 75%;
	height: 44%;	
	margin: 20% auto 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.bear-outer {
	width: 85px;
	height: 85px;
	border-radius: 30%;
	background-color: #58cdbd;
}

.bear-img {
	width: 80%;
	display: block;
  margin: 0 auto;
	margin-top: 10%;
}

.lines-container {
	width: 82%;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	height: 12px;
	background-color: #bbbbbb;
}

.long {
	width: 100%;
}

.short {
	width: 50%;
}

.footer-container {
	height: 12%;
	width: 100%;
	margin-top: 6px;
	display: flex;
	justify-content: flex-end;
}

.green-button {
	margin-left: 15px;
	background-color: #a3dab7;
	border-radius: 15px;
	height: 100%;
	width: 15%;
}

