@keyframes dot  {
	
	100% {
		transform: translateY(-150px) translateX(-60px);
		opacity: 1;
	}
  }
  
  .dot {
	/* animation: dot 1s infinite linear; */
	animation: dot 1s 1 linear;
	opacity: 0;
  }

  .dot:after {
	content: '';
    display: block;
    width: 20px;
    height: 20px;
	border-radius: 20px;
	background-color: #a3a1a3;
	bottom: -180px;
	right: 30px;
	position: absolute;
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.postcard {
	width: 750px;
	height: 1000px;
	border-radius: 10%;
	position: fixed;
    margin: 100px auto;
	box-shadow: 20px 20px 100px 1px #a3a1a3;
	position: relative;
	overflow: hidden;
	zoom: 0.78;
}

.scene {
    text-align: center;
	height: 60%;
	z-index: 9;
}

.scene img {
    width: 100%;
}

.paper-plane:not(:active) {
    motion-path: path("m580.56 490.38c110.4-89.087 204.39-211.81 251.09-319.18l-164.53-66.88c-322.7 26.527-663.47 106.29-946.04 236.24-13.743 47.211 78.471 76.194 129.33 97.084 127.62 26.984 190.18 19.682 331.51 32.186 226.05-6.1777 254.39 26.566 398.65 20.554z");
    offset-path: path("m580.56 490.38c110.4-89.087 204.39-211.81 251.09-319.18l-164.53-66.88c-322.7 26.527-663.47 106.29-946.04 236.24-13.743 47.211 78.471 76.194 129.33 97.084 127.62 26.984 190.18 19.682 331.51 32.186 226.05-6.1777 254.39 26.566 398.65 20.554z");
    motion-rotation: reverse;
	animation: move 3s linear;
	animation-delay:0.8s;
    width: 71px;
    height: 54px;
    position: absolute;
    left: 9%;
    top: 100px;
    z-index: 1000;
}

.paper-plane:active {
    opacity: 0;
}

@-webkit-keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

.paper-plane svg {
	width: 100%;
	transform: rotate(-25deg);
}

/* Lower part goes here */
.lower-scene {
	height: 40%;
    width: 100%;
	position: absolute;
}

.wrapper {
	width: 75%;
	height: 44%;	
	margin: 20% auto 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.bear-outer {
	width: 85px;
	height: 85px;
	border-radius: 30%;
	background-color: #58cdbd;
}

.bear-svg {
	width: 80%;
	display: block;
    margin: 0 auto;
	margin-top: 10%;
}

.lines-container {
	width: 82%;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	height: 12px;
	background-color: #bbbbbb;
}

.long {
	width: 100%;
}

.short {
	width: 50%;
}

.footer-container {
	height: 12%;
	width: 100%;
	margin-top: 6px;
	display: flex;
	justify-content: flex-end;
}

.green-button {
	margin-left: 15px;
	background-color: #a3dab7;
	border-radius: 15px;
	height: 100%;
	width: 15%;
}

.button {
	height: 128px;
	width: 128px;
	border-radius: 100%;
	background: rgb(251, 200, 30);
	float: right;
	position: relative;
	top: -217px;
	margin-right: 41px;
	box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.1);
}

.button:hover {
    background: rgb(220, 170, 0);
}

.loader-point {
	top: 50px;
	height: 24px;
	width: 24px;
	border-radius: 100%;
	background-color: #FFFFFF;
	position: absolute;
    animation-name:bounce_fountainG;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:normal;
	transform:scale(0.3);
}

.loader-point.first {
	animation-delay:5.8s;
	left: 10px;
	transform:scale(0);
}

.loader-point.second {
	animation-delay:5.95s;
	left: 51px;
	transform:scale(0);
}

.loader-point.third {
	animation-delay:5.1s;
	left: 93px;
	transform:scale(0);
}

@keyframes bounce_fountainG {
	0%{
	transform:scale(1);
		background-color:rgb(255, 255, 255);
	}

	100%{
	transform:scale(.5);
		background-color:rgb(255, 255, 255);
	}
}